config global 'global'
	option enabled '1'

config project 'example'
	option enabled '1'
	option remark 'Example Rule'
	option family 'any'
	option protocol 'tcp'
	option listen_port '8080'
	option reuseaddr '1'
	option target_address '192.168.1.100'
	option target_port '80'
	option open_firewall_port '1'
	option add_firewall_forward '1'
